* {
  box-sizing: border-box;
}

/* font from google fonts */

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
}

section {
  height: 100vh;
  overflow: hidden;
}

/* background color to overlay the main picture */

#top {
  background-color: #B55956;
  z-index: 3;
  color: white;
}

/* shows the background color through the image */

.profile {
  z-index: 1;
  opacity: .4;
  position: relative;
}

.content {
  position: absolute;
  bottom: 13%;
  left: 4%;
  z-index: 3;
}

/* arrow to move you from top to middle of page  */

.section1-nav-down {
  position: absolute;
  bottom: 0;
  right: 4%;
  z-index: 3;
  color: white;
  font-size: 18pt;
}

#about-me {
  background-color: #F6F8FA;
}

/* text styling */

#about-me .col-6 {
  margin-top: 8%;
  padding: 20pt;
  border-right: 4px solid black;
  border-left: 4px solid black;
}

/* arrow takes you from middle to top page */

.section2-nav-up {
  position: absolute;
  bottom: -5%;
  right: 4%;
  z-index: 3;
  color: black;
  font-size: 18pt;
}

/* arrow takes you from middle page to bottom  */

.section2-nav-down {
  position: absolute;
  bottom: -100%;
  right: 4%;
  z-index: 3;
  color: black;
  font-size: 18pt;
}

#project_cards {
  background-color: #B55956;
}

/* card styling */

#project_cards article {
  padding: 10pt;
  border: solid black;
  background: #F6F8FA;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 9%;
}

/* flips over card on hover */

#project_cards article:hover {
  transform: rotateY(180deg);
  transition: 1s;
}

/* keeps the text visible */

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* rotates the text on the card */

.back {
  transform: rotateY(180deg);
}

/* hides the text when it's flipped over */

.front, .back {
  backface-visibility: hidden;
}

/* arrow from bottom to middle section */

.section3-nav-up {
  position: absolute;
  bottom: -105%;
  right: 4%;
  z-index: 3;
  color: black;
  font-size: 18pt;
}

/* positioning for social icon links */

.social_1 {
  position: absolute;
  bottom: -78%;
  right: 7%;
  z-index: 3;
  color: black;
  font-size: 29pt;
}

.social_2 {
  position: absolute;
  bottom: -78%;
  right: 15%;
  z-index: 3;
  color: black;
  font-size: 29pt;
}

.social_3 {
  position: absolute;
  bottom: -78%;
  right: 23%;
  z-index: 3;
  color: black;
  font-size: 29pt;
}

.email {
  position: absolute;
  bottom: -78%;
  right: 31%;
  z-index: 3;
  color: black;
  font-size: 29pt;
}